tensorflow
transformers
datasets
scikit-learn
numpy
pandas
matplotlib
seaborn
tensorflow-datasets
tensorflow_hub
jupyterlab
notebook
ipykernel
ipywidgets
# torch and torchvision installed separately in setup script with
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cpu
